@{
    ViewBag.Title = "title";
}

<div class="mt-3">
    <h1>Calc Service Demonstration</h1>
    <ul class="">
        <li><a class ="text-decoration-none" asp-controller="Home" asp-action="PassUsingModel">Using Model Calc</a></li>
        <li><a class ="text-decoration-none" asp-controller="Home" asp-action="PassUsingViewData">Using ViewData Calc</a></li>
        <li><a class ="text-decoration-none" asp-controller="Home" asp-action="PassUsingViewBag">Using ViewBag Calc</a></li>
        <li><a class ="text-decoration-none" asp-controller="Home" asp-action="AccessServiceDirectly">Access Service Injection Calc</a></li>
    </ul>
</div>

